<%= render 'layouts/notification' %>

<nav class="navbar navbar-expand-lg navbar-main navbar-light">
  <a class="navbar-brand text-light h1" href="#">I'm left over</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Link</a>
      </li>
    </ul>
    <%= link_to new_user_session_path do %>
      <button class="btn btn-outline-light btn-lg" type="submit">login</button>
    <% end %>
  </div>
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-white font-weight-bold">Someone needs your help!</h1>
      </div>
      <div class="col-lg-8">
        <p class="text-white font-weight-light mb-5">手助けが必要・欲しい人同士をつなぎ合わせるプラットフォームです。</p>
        <%= link_to new_user_registration_path do %>
          <button class="btn btn-info btn-lg">Try now!!</button>
        <% end %>
      </div>
    </div>
  </div>
</header>

<section class="py-5 text-center">
  <div class="container"> 
    <h2 class="text-center">Recent Projects</h2>
    <div class="row pt-4">
      <% @recent_projects.each do |project| %>
        <div class="col-sm-6 col-lg-4 mb-3 recent-project-box recent-project-<%= project.id %>">

          <%= image_tag project.main_image.index_thumb.url, class: 'rounded-top img-thumbnail' %>

          <h6 class="recent-project-title"><%= project.title %></h6>
          <small class="text-muted"> projected by <%= project.owner %></small>
          <p class="display-30"><%= project.short_content %></p>
          
          <%= link_to '続きを読む', detail_project_path(project) %>
        </div>
      <% end %>
    </div>
  </div>
</section>
   
<header class="bg-dark text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Popular projects</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <% Project.popular_projects.each do |project| %>
      <div class="col-xl-3 col-md-6 mb-4">
        <%= link_to detail_project_path(project), class:'text-decoration-none' do %>
          <div class="card border-0 shadow">
            <%= image_tag project.main_image.index_thumb.url, class: 'rounded-top img-thumbnail' %>
            <div class="card-body text-center">
              <h5 class="card-title mb-0"><%= project.title %></h5>
              <small class="card-text text-black-50"><%= project.owner %></small>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
