<%= render 'shared/sidenav' %>

<div class="container">
  <div class="jumbotron">
    <%= render 'shared/notification' %>
    <h1 class="display-4">
      あなたのスキルを使って、<br> 困っている人を助けよう！
      <br>
    </h1>
    <p>些細なことで困っている人がたくさんいます</p>
    <% if unconfirmed?(current_user) %>
      <div class="btn-toolbar mb-2 mb-md-0">
        <p>
          <%= link_to "#", style: 'pointer-events: none;' do %>
            <button type="button" class="btn btn-secondary btn-lg mr-3">teacherアカウントの登録にはメール認証が必要です</button>
          <% end %>
        </p>
        <p><%= link_to 'メール認証をする', edit_user_registration_path %></p>
      </div>
    <% else %>
      <div class="btn-toolbar mb-2 mb-md-0">
        <%= link_to activate_teacher_user_path(current_user) do %>
          <button type="button" class="btn btn-info btn-lg mr-3">apply teacher account</button>
        <% end %>
      </div>
    <% end %>
  </div>

</div>