<% if current_user %>
  <%= render 'shared/sidenav' %>
<% else %>
  <%= render 'shared/not_sign_in_sidenav' %>
<% end %>


<div class="container">
  <div class="jumbotron">

    <%= render 'shared/notification' %>

    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to new_project_path do %>
        <button type="button" class="btn btn-info mr-3">new project</button>
      <% end %>
    </div>

    <div class="container">
      <div class="text-center mb-5">
        <h2 class="display-20 display-md-18 display-lg-16"><%= @user.username %>のプロジェクト </h2>
      </div>
      <div class="row">
        <% unless @projects.any? %>
          募集中のプロジェクトはありません
        <% end %>
        <% @projects.each do |project| %>
          <div class="col-lg-6 col-md-6 product-box">
            <article class="card card-style2">
              <div class="card-img">
                <%= image_tag project.main_image.index_thumb.url, class: 'rounded-top' %>
                <div class="date"><span><%= project.created_at.strftime("%d") %></span><%= project.created_at.strftime("%b") %></div>
              </div>
              <div class="card-body">
                <h3 class="h5"><%= link_to "#{project.title}", detail_project_path(project) %></h3>
                <p class="display-30"><%= project.short_content %></p>
              </div>
              <div class="card-footer">
                <ul>
                  <li><a href="#!"><i class="fas fa-user"></i>Vickie</a></li>
                  <li><a href="#!"><i class="far fa-comment-dots"></i><span>11</span></a></li>
                </ul>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <footer>
      Repository maintained by <a href="https://github.com/mladenplavsic">mladenplavsic</a>
  </footer>

</div>