<%= render 'shared/sidenav' %>


<div class="container">
  <div class="jumbotron">
    <%= render 'shared/notification' %>

    <h2 class='heading'><span>プロフィール</span></h2>

    <p class='sample-class'> こんにちは　<%= @user.username %></p>

    <%= render 'shared/performance_bar', record: 50, rate: 0 %>

    <%= render 'comments/index', commentable: @user %>
    <%= render 'comments/form',  commentable: @user %>
  </div>
</div>
