<div class="row">
  <% unless projects.any? %>
    <div class='col-12'>
      募集中のプロジェクトはありません
    </div>
  <% end %>
  <% projects.each do |project| %>
    <div class="col-lg-6 col-md-6 product-box">
      <article class="card card-style2">
        <div class="card-img">
          <%= image_tag project.main_image.index_thumb.url, class: 'rounded-top' %>
          <div class="date"><span><%= project.created_at.strftime("%d") %></span><%= project.created_at.strftime("%b") %></div>
        </div>
        <div class="card-body">
          <% if detail == true %>
            <h2 class="h4"><%= link_to "#{project.title}", detail_project_path(project) %></h3>
          <% else %>
            <h3 class="h5"><%= link_to "#{project.title}", project_path(project) %></h3>
          <% end %>
          <div class="mb-4">
            <span class="small lh-120"> カテゴリー： <%= link_to project.category_name, feed_projects_path(category_id: project.project_category) %> </span><br>
            <span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i><%= project.location_name%></span>
          </div>
          <p class="display-30"><%= project.short_content %></p>
        </div>
        <div class="card-footer">
          <ul>
            <%= link_to user_path(project.user) do %>
              <li class='user-name'><i class="fas fa-user"></i><span class='ml-2'><%= project.owner %></span></li>
            <% end %>
            <li class='mr-2'><a href="#!"><i class="far fa-comment-dots"></i><span class='ml-1'>11</span></a></li>
          </ul>
        </div>
      </article>
    </div>
  <% end %>
</div>