<%= form_with model: project, local: true, class: 'col-10 mx-auto' do |f| %>
            
  <%= render 'shared/error_messages', resource: project %>

  <div class="form-group">
    <%= f.label :title, 'Title', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :project_category_id, 'カテゴリー', class: 'control-label'%>
    <div class="controls">
      <%= f.collection_select :project_category_id, ProjectCategory.all, :id, :name,
                                            :include_blank => "カテゴリを選択してください" %>
    </div>
  </div>

  <%= f.fields_for :location do |ff| %>
    <div calss="form-group">
      <%= ff.label :prefecture_id, '都道府県', class: 'control-label'%>
      <div class="controls">
        <%=  ff.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class: ""} %>
      </div>
    </div>

    <div calss="form-group">
      <%= ff.label :address, 'ロケーション情報', class: 'control-label mt-3'%>
      <div class="controls">
        <%=  ff.text_field :address, class: 'form-control', placeholder: '希望場所情報' %>
      </div>
    </div>

    <div calss="form-group mt-3">
      <div class='row'>
        <div class='col-12'>
          <%= ff.label :station, '最寄り駅', class: 'control-label mt-3'%> <small class='ml-2'>※任意</small>
        </div>
        <div class="col-7">
          <div class="controls">
            <%=  ff.text_field :station, class: 'form-control', placeholder: '〇〇駅' %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  <div class="form-group mt-4">
    <%= f.label :main_image, 'サムネイル画像', class: 'control-label'%>
    <div class="controls">
      <%= f.file_field :main_image %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone_reservation, '電話予約を許可しますか？', class: 'control-label'%>
    <div class="controls">
      <%= f.check_box :phone_reservation %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :content %>
      <%= f.rich_text_area :content %>
    </div>
  </div>

  <p><%= f.submit 'create project', class: 'btn btn-info btn-block' %></p>
    
<% end %>