<% if current_user %>
  <%= render 'shared/sidenav' %>
<% else %>
  <%= render 'shared/not_sign_in_sidenav' %>
<% end %>

<div class="container">
  <div class="jumbotron">
    <%= render 'shared/notification' %>
    <section id="project-show" class="padding-top-bottom mx-auto">
      <h1 class='text-center'> <%= @project.title%> </h1>
      <p> カテゴリー：<%= link_to @project.category_name, '#' %> </p>
      <p> project by <%= link_to @project.owner, user_path(@project.user) %></p>
      <div>
        <%= image_tag @project.main_image.show_thumb.url, class: 'd-block mx-auto' %>
      </div>
      <div class='col-md-10 mt-5 mx-auto'>
        <%= render 'shared/performance_bar', record: @project.performance&.total_record, rate: @project.performance&.average_score %>
        <%= @project.content %>
        <button class="btn btn-info btn-lg mt-3 pull-right" data-toggle="modal" data-target="#exampleModal">reservation now!!</button>
      </div>

      <%= render 'projects/modal', project: @project %>

    </section>

    <%= render 'comments/index', commentable: @project %>
    <% if current_user %>
      <%= render 'comments/form',  commentable: @project %>
    <% end %>
  </div>
</div>