<% if current_user %>
  <%= render 'shared/sidenav' %>
<% else %>
  <%= render 'shared/not_sign_in_sidenav' %>
<% end %>

<div class="container">
  <div class="jumbotron">

    <div class="container">
      <% if @prefecture %>
        <h2 class='heading'><span><%= @prefecture.name %>のプロジェクト</span></h2>
      <% else %>
        <div>
          <h3>都道府県</h3>
          <% 1.upto(5) do |n| %>
            <div class='mt-1'>
              <% Prefecture.send("area_#{n}").each do |prefecture| %>
                <%= link_to prefecture.name, feed_projects_path(prefecture: prefecture.name) %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class='mt-5'>
        <%= render 'feed', projects: @projects, detail: true %>
        <div class='pt-5'>
          <%= paginate @projects %>
        </div>
      </div>

    </div>
  </div>

</div>