<%= render 'shared/sidenav' %>

<div class="container">
  <div class="jumbotron">

    <%= render 'shared/notification' %>

    <h2 class='heading'><span>My プロジェクト</span></h2>

    <div class="btn-toolbar mb-2 mb-md-0 pt-5 ml-3">
      <%= link_to new_project_path do %>
        <button type="button" class="btn btn-info">new project</button>
      <% end %>
    </div>

    <div class="container pt-5">
      <%= render 'feed', projects: @projects, detail: false %>
      <div class='pt-5'>
        <%= paginate @projects %>
      </div>
    </div>
  </div>

</div>