<%= render 'shared/sidenav' %>

<div class="container">
  <div class="jumbotron">
    <div class='page-title'>
      <h1>ワークスペースの登録</h1>
      <p><%= left_count(current_user.available_addresses) %></p>
    </div>
    <section id="project-form" class="padding-top-bottom">
      <div class="container">
        <div class="row">

          <%= form_with model: [current_user, @address], local: true, id: 'Highlighted-form', class: 'col-9 mx-auto' do |f| %>

            <%= render 'shared/error_messages', resource: @address %>
            <%= render 'shared/notification' %>

            <div class="form-group">
              <div class="controls">
                <%= f.text_field :address , id: 'content-name', class: 'form-control requiredField Highlighted-label', placeholder: 'example) 東京都○○' %>
              </div>
            </div>
            <p><%= f.submit 'create address', class: 'btn btn-info btn-block' %></p>
          <% end %>
          
        </div>	
      </div>	
    </section>

    <section>
      <ul class="list-group list-group-flush">
        <% @addresses&.each do |address| %>
          <li class="list-group-item <%= address.id %>">
            <%= render 'shared/google_map', resource: address %>
            <p><%= address.address %></p>
            <span class='text-right'><%= link_to '削除', user_address_path(current_user, address), method: :delete, id: "delete-#{address.id}" %></span>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
